{% extends "base.html" %}

{% block title %} {{block.super}} | Frames{% endblock title %}

{% block content %}
<h3>Here are all the frames</h3>

<div class="content">
    <p>Check out my attempt at listing the frames</p>

    <ul>
        {% for fr in object_list %}
            <li>
                {{fr.id}} | {{fr.note}}
                <!-- for more notes on ImageField's attribute, see:
                     https://docs.djangoproject.com/en/1.11/ref/models/fields/#filefield-and-fieldfile -->
                <p><img src="{{fr.frame_image.url}}" height="100px"/></p>
            </li>
        {% empty %}
            <p>No frames could be found</p>
        
        {% endfor %}
    </ul>
</div>

{% endblock content %}