{% extends "base.html" %}
{% load thumbnail %}
{% load flipbooks_custom_tags %}

{% block title %} {{block.super}} | Scene Detail{% endblock title %}

{% block content %}


<div class="row">
    <!-- left side container -->
    <div class="col-md-2">
        <h3>{{object.name}}</h3>
        <!--<h3>Scene Under Chapter {{object.chapter.number}}</h3>-->
        
        <p>
            <b>Book</b> : {{object.chapter.book.title}}
            </br>
            <b>Chapter</b>: {{object.chapter.number}}
            </br>
            <b>Scene id</b>: {{object.id}}
        </p>
        
        <p><a href="{% url 'flipbooks:chapter-detail' book_pk=object.chapter.book.id chapter_number=object.chapter.number %}">< Chapter detail</a></p>

    </div>
    <!-- right side container -->
    <div class="col-md-10">
        
        <p>
            <h3>Test site:</h3>
            <button type="button" class="btn btn-warning" id="test-btn">CLick here to add strip</button>
        </p>


        <div>
            <ul class="list inline">
                <li><a href="{% url 'flipbooks:strip-create' scene_pk=object.id %}">Create new strip onto scene {{object.id}}</a></li>
                <li><a href="#">Create new strip onto scene {{object.id}} (AJAX)</a></li>
                <li><a href="{% url 'flipbooks-api:list' %}">View api</a></li>
                <li><a href="{% url 'flipbooks-api:detail-scene' pk=object.id%}">View scene api</a></li>
            </ul>
            
        </div>

        <h3>Scene id {{object.id}}</h3>
        <p>description: {{object.description}}</p>
        <ul class="list_strips">

           <!-- {- for strip in ordered_strip_set -}-->
            {% for strip in object.strip_set.all|map_queryset:object.children_li %}
                <li class="flex_list">
                    <div class="header">
                        <span class="bigtext-1">{{forloop.counter}}</span>
                        <br>
                        <span>id: {{strip.id}}</span>
                    </div>
                        
                    <div class="strip_flex_container" stripid="{{strip.id}}">

                        
                        <!-- {- for frame in strip.frame_set.all -}--> 
                        {% for frame in strip.frame_set.all|map_queryset:strip.children_li %}
                        
                            {% if frame|is_displayable:"frame" %} 
                            <!-- % if frame is None or frame.frame_image is None or frame.frame_image|length is 0 % -->
                                  
                               <div class="thumb incompatible" frameid="{{frame.id}}">
                                    <img src="{{ frame.frame_image.thumb.url }}" width='200px'/>
                                    <a href="" class="mini_menu edit">frame [{{frame.id}}]</a>
                               </div> 
                                   
                            {% else %} 
                                
                                {% if frame.frame_image_native.url != None %}
                                    <!-- fallback to native ImageField -->
                                   <div class="thumb" frameid="{{frame.id}}">
                                        <img src="{{ frame.frame_image_native|thumbnail_url:'thumb' }}" width='200px'/>
                                        <a href="" class="mini_menu edit">frame [{{frame.id}}]</a>
                                   </div> 
                                {% else %} 
                                    <div class="thumb placeholder2" frameid="{{frame.id}}">
                                    <span>Missing Image</span>
                                        <a href="" class="mini_menu edit">frame [{{frame.id}}]</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                               
                        {% empty %}
                            {% if strip is None %}
                                <div class="tile ui-state-disabled">
                                    <span style="color:#898989">Invalid Strip</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                        
                        {% if strip != None %}
                            <!-- open frame_form -->
                            <div class="tile frame_form ui-state-disabled" displaytype="add" for="{{strip.id}}">
                                <span style="font-size:4em">+</span>
                                Add Frames
                            </div>
                        {% endif %}

                    </div>
                        
                </li>
            {% empty %}
            
                <p>No strips could be found</p>
            
            {% endfor %}
            
    
        </ul>
        
        
        

        <!-- form/partial/other interactives pre-load -->
        
        <!-- strip_create_form ready to move-->
        {% include "flipbooks/includes/form_dynamic.html" with form=strip_create_form action_url=strip_create_url form_id="strip_create_form" btn_title='Add Strip' %}
        <!-- frame_create_form ready to move-->
        {% include "flipbooks/partials/frame_create_partial.html" with form=frame_create_form action_url=frame_create_url form_id="frame_create_form" %}
        <!-- popup_menu (hidden by default) -->
        {% include "flipbooks/partials/popup_menu_partial.html" %}
        
    <!-- end: right side container -->    
    </div>




<!-- end: class=row -->
</div>

{% endblock content %}


    
{% block extra_js %}
    {% load static %}
    <script src="{% static 'js/restful_api.js' %}"></script>
    <script src="{% static 'js/ajax_crud.js' %}"></script>
    <script src="{% static 'js/ajax_sortableUI.js' %}"></script>
{% endblock extra_js %}
