{% extends "base.html" %}

{% block title %} {{block.super}} | Scenes{% endblock title %}

{% block content %}
<h3>Scenes</h3>

<p>This should be everything in the DB, listed in the manner I set as of 08/02/2017</p>

<ul>
    {% for scene in object_list %}
        <li>
            {{scene.order}} | {{scene.description}}
            
            <p>


                {% url 'flipbooks:strip-list' scene_pk=5 as strip_url %}
                <form action="{{strip_url}}">
                    <button type="submit" class="btn btn-default btn-md">
                      View <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                     </button>
                </form>
                
                 
                {% for strip in scene.strip_set.all %}
                        <img src="{{strip.frame_set.first.frame_image.url}}" height="100px"/>
                {% endfor %}
            </p>
                

        </li>
    {% empty %}
        <p>No strips could be found</p>
    
    {% endfor %}
</ul>


{% endblock content %}