{% extends "base.html" %}
{% load thumbnail %}
{% load flipbooks_custom_tags %}

{% block title %} {{block.super}} | Strips{% endblock title %}

{% block body_class %}dark{% endblock body_class %}

{% block content %}
<h3>Flip through Strips</h3>


<a href="{% url 'flipbooks:chapter-detail' book_pk=scene.chapter.book.id chapter_number=scene.chapter.number%}">< return </a>

<p>Dev note: This page starts playing the frames inside each strip. When populating strips, 
consider one scene equivalent to a "page" of a comic book.</p>
<p>Structurally, scene object has two "detail page". One for playing, one for editing.</p>

<!-- it would be nice if you can ajax load and don't show interface until first 
strip has been loaded -->

{% endblock content %}


{% block letterbox %}
    <div class="frame_view wide">
        
        <!-- load first batch of images -->
        <!-- {{object_list|first}} -->
        <div class='fit_block frame_load'>
            <!-- frames are loaded here first, but not visible -->
            {% with scene.strip_set.all|map_queryset:scene.children_li as mapped_strip_set %}
                {% for strip in mapped_strip_set|slice:":5" %}
                    {% if strip != None %}
                    
                        <span class="strip" stripid="{{strip.id}}">
                            {% for fr in strip.frame_set.all|map_queryset:strip.children_li reversed %} 
                                {% if fr is None or fr.frame_image is None or fr.frame_image|length is 0 %} 
                                    BAD
                                {% else %}
                                    <img src="{{fr.frame_image.url}}" class="frame_item" frameid="{{fr.id}}"/>
                                {% endif %}
                            {% endfor %}
                        </span>
                        
                    {% else %}
                        <b>STRIP NOT FOUND</b>
                    {% endif %}
             
                
                {% empty %}
                    Hmm, this scene is empty.
                {% endfor %}
            {% endwith %}
                
        </div>
        
       <div class="fit_block stage">
            <!-- covers .frame_load, which are pool of strips -->
            <!-- anything above this div is visible -->
        </div>
        
        <div class="fit_block cover">
            <span id="msg_loading">
                <!-- progress bar -->
                <div id="loading_bar_wrapper">
                    <span id="loading_bar"></span>
                </div>
            </span>
            <span id="msg_instruction">Use arrow keys ></span>
        </div>
        
    </div>
{% endblock letterbox %}


{% block content_2 %}

    <!-- append thumbnails -->
    <div class="frame_scrubber">
        <div class="timer">
            <!--<span class="frame_icon"></span>-->
        </div>
        
        <div class="cell_fill">
        </div>
            
        <div class="cell_container">
            
            {% with scene.strip_set.all|map_queryset:scene.children_li as mapped_strip_set %}
                {% for strip in mapped_strip_set %}
                    {% if strip != None %}
                        <div class="cell">
                        </div>
                    {% else %}
                        <div class="cell not_found">
                            <b>STRIP NOT FOUND</b>
                        </div>
                    {% endif %}
                    
                {% empty %}
                    Strip not found
                {% endfor %}
          
            {% endwith %} 
        </div>
        
        
    
    </div>

{% endblock content_2 %}

{% block extra_js %}
    {% load static %}
    <script src="{% static 'js/restful_api.js' %}"></script>
    <script src="{% static 'js/ajax_ImageHandler.js' %}"></script>
    <script src="{% static 'js/flip.js' %}"></script>
{% endblock extra_js %}
