{% extends "base.html" %}
{% load thumbnail %}


{% block title %} {{block.super}} | Strips{% endblock title %}

{% block content %}
<h3>List of Strips</h3>

<a href="{% url 'flipbooks:scene-list' %}"><< Return</a>

<p>These shouldn't actually be a static list of strips. Opening a strip should start "playing" the frames.</p>
<p>This one view represents a "page".</p>

<!-- it would be nice if you can ajax load and don't show interface until first 
strip has been loaded -->

{% endblock content %}


{% block letterbox %}
    <div class="frame_view wide">
        
        <!-- WELL I GUESS YOU CAN'T USE THIS -->
        <!--{ for fr in object_list.first.frame_set.all }-->
        <!--    <img src="{{fr.frame_image.url}}"/>-->
        <!--{ endfor }-->
        
        <!-- this is where you load first batch of images -->
        <!-- {{object_list|first}} -->
        <div class='frame_load'>
            {% for strip in object_list|slice:":3" %}
                <span class="strip">
                    {% for fr in strip.frame_set.all %} 
                        <img src="{{fr.frame_image.url}}" class="frame_item"/>

                    {% endfor %}
                </span>
            {% endfor %}
        </div>
        
        <div class="cover">
            <span id="msg_loading">Loading</span>
            <span id="msg_instruction">Use arrow keys ></span>
        </div>
        
    </div>
{% endblock letterbox %}


{% block content_2 %}
<div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    <span class="msg"></span>
</div>

<h3>All frames from current scene:</h2>

<ul>
    {% for strip in object_list %}
        <li>
            {{strip.id}} | {{strip.description}}
            
            <p class="frames">
                {% for fr in strip.frame_set.all %}
                    <img src="{% thumbnail fr.frame_image 200x200 autocrop %}"/>
                {% endfor %}
            </p>
        </li>
    {% empty %}
        <p>No strips could be found</p>
    
    {% endfor %}
</ul>


{% endblock content_2 %}
