{% extends "base.html" %}

{% block title %} {{block.super}} | Strips{% endblock title %}

{% block content %}
<h3>List of Strips</h3>

<a href="{% url 'flipbooks:scene-list' %}"><< Return</a>

<p>These shouldn't actually be a static list of strips. Opening a strip should start "playing" the frames.</p>
<p>This one view represents a "page".</p>

<!-- it would be nice if you can ajax load and don't show interface until first 
strip has been loaded -->
{% load thumbnail %}
<div class="frame_view wide">

        {% for fr in object_list.first.frame_set.all %}
            <img src="{{fr.frame_image.url}}"/>
        {% endfor %}

</div>



<ul>
    {% for strip in object_list %}
        <li>
            {{strip.id}} | {{strip.description}}
            
            <p class="frames">
                {% for fr in strip.frame_set.all %}
                    <img src="{{fr.frame_image.url}}" height="100px"/>
                    
                {% endfor %}
            </p>
        </li>
    {% empty %}
        <p>No strips could be found</p>
    
    {% endfor %}
</ul>


{% endblock content %}

