{% extends "base.html" %}
{% load thumbnail %}


{% block title %} {{block.super}} | Strips{% endblock title %}

{% block content %}
<h3>List of Strips</h3>

<a href="{% url 'flipbooks:scene-list' %}"><< Return</a>

<p>These shouldn't actually be a static list of strips. Opening a strip should start "playing" the frames.</p>
<p>This one view represents a "page".</p>

<!-- it would be nice if you can ajax load and don't show interface until first 
strip has been loaded -->

{% if is_paginated %}
    This view is currently paginated
{% else %}
    This view is NOT paginated. 
{% endif %}


<div class="frame_view wide">
        
        <!-- WELL I GUESS YOU CAN'T USE THIS -->
        <!--{ for fr in object_list.first.frame_set.all }-->
        <!--    <img src="{{fr.frame_image.url}}"/>-->
        <!--{ endfor }-->
        
        <!-- this is where you load first batch of images -->
        <!-- {{object_list|first}} -->
        <div class='frame_load'>
            {% for strip in object_list|slice:":2" %}
                {% for fr in strip.frame_set.all %} 
                    <img src="{{fr.frame_image.url}}"/>
                {% endfor %}
            {% endfor %}
        </div>
        
        <div class="cover"><span>Loading</span></div>
        
</div>

<h3>currently trying to display:</h2>

<ul>
    {% for strip in object_list %}
        <li>
            {{strip.id}} | {{strip.description}}
            
            <p class="frames">
                {% for fr in strip.frame_set.all %}
                    <img src="{% thumbnail fr.frame_image 200x200 autocrop %}"/>
                {% endfor %}
            </p>
        </li>
    {% empty %}
        <p>No strips could be found</p>
    
    {% endfor %}
</ul>


{% endblock content %}
