{% extends "layout_letterboxed.html" %}
{% load thumbnail %}
{% load flipbooks_custom_tags %}

{% block title %} {{block.super}} | Strips{% endblock title %}

{% block body_class %}dark{% endblock body_class %}

{% block top_content %}
    <h3>Scene {{scene.id}}</h3>
    <a href="{% url 'flipbooks:chapter-detail' book_pk=scene.chapter.book.id chapter_number=scene.chapter.number%}">< return </a>
{% endblock %}

{% block letterbox %}
    <!-- REACT -->
{% endblock letterbox %}


{% block ref %}
    <div id="ref-content" sceneId="{{scene.id}}">
{% endblock %}

{% block extra_js %}
    {% load static %}
    <!-- <script src="{% static 'js/restful_api.js' %}"></script>
    <script src="{% static 'js/ajax_ImageHandler.js' %}"></script>
    <script src="{% static 'js/flipHandler.js' %}"></script>
    <script src="{% static 'js/scenePlayBinds.js' %}"></script> -->

    <script src="{% static 'frontend/main.js' %}"></script>

{% endblock extra_js %}
