{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Project Cumulus{% endblock title %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RY
dg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    <!-- external fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    
    <!-- custom css -->
    <link href="{% static 'css_static/main.css' %}" rel="stylesheet">
    <link href="{% static 'css_static/lists.css' %}" rel="stylesheet">
    <link href="{% static 'css_static/forms.css' %}" rel="stylesheet">
    <link href="{% static 'css_static/sortable.css' %}" rel="stylesheet">
    <link href="{% static 'css_static/components.css' %}" rel="stylesheet">
    <link href="{% static 'css_static/themes.css' %}" rel="stylesheet">
  </head>

<body class="{% block body_class %}{% endblock body_class %}">
    <!-- include 'base_navbar.html' -->

    <div class='container'>
      {% block content %}
      {% endblock %}
    </div>
    
    <div class="letterbox"> 
      {% block letterbox %}
      {% endblock %}
    </div>

<div class='container'>
      {% block content_2 %}
      {% endblock %}
    </div>

    <div class='container-fluid footer'>
      Project Cumulus | built by MindJ. Powered by Django
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js_external/imagesloaded.pkgd.min.js' %}"></script>
    
    <!-- scripts written for this project -->
    <script src="{% static 'js/MASTER.js' %}"></script> <!-- main -->
    <script src="{% static 'js/form.js' %}"></script>
    
    {% block extra_js %}
    {% endblock %}
  </body>
</html>