{% extends "layout_columned.html" %}
{% load thumbnail %}
{% load flipbooks_custom_tags %}

{% block title %} {{block.super}} | Scenes{% endblock title %}

{% block left_column %}
<h3>Scenes Under Chapter object.number</h3>
        
        <p>
            from Book : object.book.title
        </p>
{% endblock %}


{% block right_column %}
    <p>You are viewing a chapter detail. This is in a hypothetical chapter "1". Try to imagine one 
    "scene" = "page" in a comic book sense. Viewing a scene should start "playing".</p>
    <p>I also plan this page to also act as a player interface if possible</p>

<h3>Scene list</h3>
    <div id="app">
      <!-- React -->
    </div>

{% endblock %}

{% block extra_js %}
    {% load static %}
    <script src="{% static 'frontend/main.js' %}"></script>
{% endblock extra_js %}

