{% extends "layout_columned.html" %}
{% load thumbnail %}
{% load flipbooks_custom_tags %}

{% block title %} {{block.super}} | Scenes{% endblock title %}



{% block headband_class %}dark with_splash{% endblock headband_class %}

{% block top_content %}

    {% with object_chapter.scene_set.all|first as first_scene %}
    {% with first_scene.strip_set.all|first as first_strip %}
    {% with first_strip.frame_set.all|first as first_frame %}


    <div class="splash" style="background-image:url({{ first_frame.frame_image.thumb.url }})">
        
        
    </div>
    <div class="splash_float">
        <a class="bigtext-2"
           href="{% url 'flipbooks:scene-play' pk=first_scene.pk %}">
            <span class="far fa-play-circle">
            </span > View from the start
        </a>

        

    </div>

    {% endwith %}
    {% endwith %}
    {% endwith %}

    
{% endblock %}


{% block left_column %}

    <h3>{{object_chapter.title}}</h3>
            
    <p>
        from Book : {{object_chapter.book.title}}
    </p>

    <div id="ref-content" 
         chapterId="{{object_chapter.id}}"
         chapterTitle="{{object_chapter.title}}"></div>

    <div id="chapter_editor_wrapper">
        <!-- REACT -->
    </div>

{% endblock %}



{% block right_column %}

    <h3>Select Scene</h3>
    <ul class="list_scenes">

        {% with object_chapter.scene_set.all|map_queryset:object_chapter.children_li as mapped_scene_set %}
        {% for scene in mapped_scene_set %}
            <li>
                <a class="scene_container" href="{% url 'flipbooks:scene-play' pk=scene.pk %}">
                    <span class="flex_item preview_container">

                        {% with scene.strip_set.all|map_queryset:scene.children_li as mapped_strip_set %}
                            <div class="preview">
                                {% for strip in mapped_strip_set|slice:":1" %}
                                    {% with strip.frame_set.all|first as first_frame %}
                                    
                                        {% if first_frame is None or first_frame.frame_image is None %} 
                                            <span class="thumb blurred">
                                                Empty scene
                                            </span>
                                        {% else %} 
                                            <span>
                                                <img src="{{ first_frame.frame_image.thumb.url }}" width="100%"/>
                                            </span>
                                        {% endif %} 
                                        
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        {% endwith %}
                    </span>
                    
                    <span class="flex_item header">
                        Order: {{scene.order}} (id: {{scene.id}})

                    </span>
                    
                    <!--<div class="flex_item description">
                        {{scene.description}}
                    </div>-->
                    <a class="scene_edit" href="{% url 'flipbooks:scene-edit' pk=scene.pk %}">Edit</a>
                    
                    <div class="flex_item timestamp">
                        {{ scene.date_created|timesince }} ago
                    </div>
                </a>
            </li>
        {% empty %}
            <p>No strips under this chapter. Add some!</p>
        
        {% endfor %}
        {% endwith %}

    </ul>


    <!-- scene_create_form -->
    {% include "flipbooks/includes/form_dynamic.html" with form=scene_create_form form_id="scene_create_form" btn_title='Add Scene' %}
  
{% endblock %}

{% block message_layout %}
<div class="message_container">
    <div class="message">
        <h3>Message</h3>
        {% if messages %}
            Message recieved:
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            
            </ul>
        {% else %}
            No message
        {% endif %}
    </div>
   
</div>
{% endblock %}

{% block extra_js %}
    {% load static %}
    <script src="{% static 'frontend/main.js' %}"></script>
{% endblock extra_js %}