{% extends "layout_columned.html" %}
{% load thumbnail %}
{% load flipbooks_custom_tags %}
{% load static %}



{% block title %} {{block.super}} | Scene Detail{% endblock title %}


{% block top_content %}
    <div class="headband">
        <span class="bigtext-3">Editing: <span class="fas fa-video"></span> {% if object.name %}{{object.name}}{% else %}#{{object.id}}{% endif %}</span>
        <span>|</span>
        <a href="{% url 'flipbooks:chapter-detail-64' id64=object.chapter.id64 %}">Back to Chapter</a>
    </div>

    <div class="headband">
        <!-- DEMOONLY -->
        <div id="proxy_demoguide">
        </div>
        <a class="button flat" href="{% url 'flipbooks:scene-play' pk=object.pk %}">See flipbook</a>
    </div>
    
{% endblock %}


{% block left_column %}

    <p>
        <b>Book</b> : {{object.chapter.book.title}}
        </br>
        <b>Chapter</b>: {{object.chapter.id64}}
        </br>
        <b>Scene id</b>: {{object.id}}
    </p>

    <div id="condensed_sc">
    </div> 
    
    <ul class="list_scenes_mini">
        
        {% with object.chapter.scene_set.all|map_queryset:object.chapter.children_li as mapped_scene_set %}
        {% for scene in mapped_scene_set %}
            <li><a class="mini_scene {% if scene.pk == object.pk %}current{% endif %}"
                   href="{% url 'flipbooks:scene-edit' pk=scene.pk %}">
                    <div class="mini_scene_label">
                        <span class="fas fa-video"/>
                    </div>
                {% with scene.strip_set.all|map_queryset:scene.children_li as mapped_strip_set %}
                    <div class="preview" >
                        {% for strip in mapped_strip_set|slice:":1" %}
               
                            {% with strip.frame_set.all|first as first_frame %}
                            
                                {% if first_frame is None or first_frame.frame_image is None %} 
                                    <span class="thumb placeholder">
                                    </span>
                                {% else %} 
                                    <span info="{{strip.frame_set.all|length}}">
                                        <img src="{{ first_frame.frame_image.cell.url }}" height="100%"/>
                                    </span>
                                {% endif %} 
                                
                            {% endwith %}
                        
                        {% empty %}
                            <span class="thumb placeholder">
                            </span>
                        {% endfor %}
                    </div>
                {% endwith %}

            </a></li>
        {% endfor %}
        {% endwith %}
    </ul>
    
{% endblock %}
    


{% block right_column %}

    <!--
    <div>
        <ul class="list inline">
            <li><a href="{% url 'flipbooks-api:list' %}">View api</a></li>
            <li><a href="{% url 'flipbooks-api:detail-scene' pk=object.id%}">View scene api</a></li>
        </ul>
    </div>
    -->


    
    {% if object.description %}
        <p>description: {{object.description}}</p>
    {% endif %}

    <div id="ref-content" 
         sceneId="{{scene.id}}"
         stripSetCount="{{scene.strip_set.all|length}}">
    </div>

    <div id="scene_editor_wrapper">
        <!-- ////////// -->
        <!-- React app -->
        <!-- ////////// -->
    </div>


    <!-- form/partial/other interactives pre-load -->
    
    <!-- strip_create_form -->
    {% include "flipbooks/includes/form_dynamic.html" with form=strip_create_form action_url=strip_create_url form_id="strip_create_form" btn_title='Add Strip' %}
    <!-- frame_create_form -->
    {% include "flipbooks/partials/frame_create_partial.html" with form=frame_create_form action_url=frame_create_url form_id="frame_create_form" %}

{% endblock %}


    
{% block extra_js %}
    {% load static %}
    <!-- React -->
    <script src="{% static 'frontend/main.js' %}"></script>

{% endblock extra_js %}
