{% extends "layout_columned.html" %}
{% load thumbnail %}
{% load flipbooks_custom_tags %}

{% block title %} {{block.super}} | Scene Detail{% endblock title %}

{% block left_column %}

    <h3>{{object.name}}</h3>
    <!--<h3>Scene Under Chapter {{object.chapter.number}}</h3>-->
    
    <p>
        <b>Book</b> : {{object.chapter.book.title}}
        </br>
        <b>Chapter</b>: {{object.chapter.number}}
        </br>
        <b>Scene id</b>: {{object.id}}
    </p>
    
    <p>
        <a href="{% url 'flipbooks:chapter-detail' book_pk=object.chapter.book.id chapter_number=object.chapter.number %}">< Chapter detail</a>

        <p>YOU ARE LOOKING AT REACT VERSION</p>
    </p>
    
    
    <p>
        <ul>
            <li>Make new strip</li>
        </ul>
    </p>
 




{% endblock %}
    
{% block right_column %}

    <p>
    </p>

    <div>
        <ul class="list inline">
            <li><a href="{% url 'flipbooks-api:list' %}">View api</a></li>
            <li><a href="{% url 'flipbooks-api:detail-scene' pk=object.id%}">View scene api</a></li>
        </ul>
        
    </div>

    
    <h3>Scene id {{object.id}} [REACT]</h3>
    <p>description: {{object.description}}</p>

    <div id="ref-content" 
         sceneId="{{scene.id}}"/>

    <div id="scene_editor_wrapper">
        <!-- ////////// -->
        <!-- React app -->
        <!-- ////////// -->
    </div>


    <!-- form/partial/other interactives pre-load -->
    
    <!-- strip_create_form -->
    {% include "flipbooks/includes/form_dynamic.html" with form=strip_create_form action_url=strip_create_url form_id="strip_create_form" btn_title='Add Strip' %}
    <!-- frame_create_form -->
    {% include "flipbooks/partials/frame_create_partial.html" with form=frame_create_form action_url=frame_create_url form_id="frame_create_form" %}


    
{% endblock %}

    
{% block extra_js %}
    {% load static %}
    <!-- React -->
    <script src="{% static 'frontend/main.js' %}"></script>
{% endblock extra_js %}
