{% extends "layout_showcase.html" %}
{% load static %}


{% block title %} {{block.super}} {% endblock title %}

{% block body_class %}dark glow{% endblock body_class %}
{% block headband_class %}disabled{% endblock headband_class %}



{% block contentbox %}

    <div class="hideable_content show_anyway" id="msg_new">
        <h2>We will be back</h2>
        <p id="msg">
            This project is closed for now for a big overhaul to integrate new technologies.
            There are only few select people who knows about this project but gotta
            close this app just in case!
        </p>
    </div>

{% endblock contentbox %}