{% extends "layout_showcase.html" %}

{% block title %} {{block.super}} {% endblock title %}

{% block body_class %}dark glow{% endblock body_class %}
{% block headband_class %}disabled{% endblock headband_class %}


{% block contentbox %}
    <div class="content">
        <h2>{{welcome_msg}}</h2>
        <p>
            You can demo this app's current state. 
            <br>
            Demo chapter will expire in 3 days from the day you start. 
        </p>
        <button>Make demo chapter</button>


    </div>

{% endblock contentbox %}
