{% extends "layout_showcase.html" %}
{% load static %}


{% block title %} {{block.super}} {% endblock title %}

{% block body_class %}dark glow{% endblock body_class %}
{% block headband_class %}disabled{% endblock headband_class %}


{% block contentbox %}
    <div class="content">
        <h2>{{welcome_msg}}</h2>
        <p>
            The demo chapter you generate will be available for 3 days. 
        </p>
        <div style="height:70px;">
            <button id="make_demo">Yes, make a demo chapter</button>
            <div id="loading_msg">
                <img src="{% static 'css_static/img/loading-io_spinner.gif' %}"/>
                <span class="bigtext-2">Creating demo...</span>
                <br/>
                <span>Thank you for being patient <br/>while the sample images copy over :)</span>
                <p>
                    <a href="https://loading.io" target="_blank">Loader image from loading.io</a>
                </p>
            </div>
        </div>
        
        <div>
            <!-- chapter create form -->
            {% include "flipbooks/includes/form_dynamic.html" with form=demo_chapter_create_form action_url=strip_create_url form_id="demo_chapter_create_form" btn_title='Start' %}
            
        </div>




    </div>

{% endblock contentbox %}


{% block extra_js %}
    <script src="{% static 'frontend/startDemo.js' %}"></script>
{% endblock %}
