
/* -------------------------------------- */
/* -------------------------------------- */
/*         Elements for PiePlayer         */
/* -------------------------------------- */
/* -------------------------------------- */

.movie_stage_window{
    /* the "hole"/window to stack of movies */
    position: relative;
    overflow: scroll;

    margin: 0 50px;
    width: 100%;
    height: 500px; /* TODO: quick hard coded solution */
}

.movie_stack{

}

/* TODO: These are upgraded version of .frame_window_decorations and player_instruction
   _components.scss. Consider removing the other one. */

.movie_window_decorations{ 
    position: absolute; top: 0; left: 0; 
    width: 100%; height: 100%;

    .flipbook_player_instruction{
        display:flex;
        flex-direction: column;
        justify-content: center;
        
        background-color: #1d1e1fe3;
        width: 100%; height: 100%;
        font-size: 2em;
        
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 0 0 50px 0;

        span{
            display:inline-block;
            text-align: center;
        }
    }

    .flipbook_player_paused{
        background-image: url('img/dots.png');
        width: 100%; height: 100%;
        padding: 20px 40px;

        font-size: 3em;
    }
}
  


.flipbook_player .player_instruction span{
text-align: center;
}


.flipbook_player .standby_cover{
position: absolute;
top: 0; left: 0;
width: 100%; height: 100%;
background-image: ('img/slashes_h.png');
}
  

#portal_scrubber{
    width:100%;
    height:50px;
}














.frame_view{
    position: relative;
    display: block;
    /*width and height set by init_frame_imgs_and_container()*/
    width: 800px; height: 500px; /*default height so that it will be visible*/
    margin: 0 auto;
}

.frame_view > .fit_block{
    display: inline-block;
    position: absolute;
    top:0; left:0;
    width: 100%;
    height: 100%;
}

.frame_view .stage{
    /* container that hides pile of images that are
       currently not active */
    background-color: #1d1e1f;
    z-index: 1000;
}
.frame_view.wide .cover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

.frame_view.wide .cover span{

    vertical-align: middle;
    color: white;
    font-size: 3em;
}



/*instruction initially hidden*/
.frame_view.wide .cover #msg_instruction{
    display: none;
}

.frame_load {
    position: relative;
}

.frame_load > .strip{
    position: absolute;
    top: 0; left: 0;
    
    opacity: 0; /*becomes 1 in flip.js*/
}

.frame_load > .strip img{
    position: absolute;
    top: 0; left: 0;
    height: 650px;
}