
/* -------------------------------------- */
/* -------------------------------------- */
/*         Elements for PiePlayer         */
/* -------------------------------------- */
/* -------------------------------------- */

.movie_stage_window{
    /* the "hole"/window to stack of movies */
    position: relative;
    overflow: scroll;

    margin: 50px;
    width: 100%;
    height: 500px; /* TODO: quick hard coded solution */
}

.movie_stack{

}



/* TODO: These are upgraded version of .frame_window_decorations and player_instruction
   _components.scss. Consider removing the other one. */

.movie_window_decorations{ 
    position: absolute; top: 0; left: 0; 
    width: 100%; height: 100%;

    .flipbook_player_instruction{
        display:flex;
        flex-direction: column;
        justify-content: center;
        
        background-color: #1d1e1fe3;
        width: 100%; height: 100%;
        font-size: 2em;
        
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 0 0 50px 0;

        span{
            display:inline-block;
            text-align: center;
        }
    }

    .flipbook_player_paused{
        background-image: url('img/dots.png');
        width: 100%; height: 100%;
        padding: 20px 40px;

        font-size: 3em;
    }
}
  


.flipbook_player .player_instruction span{
text-align: center;
}


.flipbook_player .standby_cover{
position: absolute;
top: 0; left: 0;
width: 100%; height: 100%;
background-image: ('img/slashes_h.png');
}
  
















.frame_view{
    position: relative;
    display: block;
    /*width and height set by init_frame_imgs_and_container()*/
    width: 800px; height: 500px; /*default height so that it will be visible*/
    margin: 0 auto;
}

.frame_view > .fit_block{
    display: inline-block;
    position: absolute;
    top:0; left:0;
    width: 100%;
    height: 100%;
}

.frame_view .stage{
    /* container that hides pile of images that are
       currently not active */
    background-color: #1d1e1f;
    z-index: 1000;
}
.frame_view.wide .cover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

.frame_view.wide .cover span{

    vertical-align: middle;
    color: white;
    font-size: 3em;
}



/*instruction initially hidden*/
.frame_view.wide .cover #msg_instruction{
    display: none;
}

.frame_load {
    position: relative;
}

.frame_load > .strip{
    position: absolute;
    top: 0; left: 0;
    
    opacity: 0; /*becomes 1 in flip.js*/
}

.frame_load > .strip img{
    position: absolute;
    top: 0; left: 0;
    height: 650px;
}

/*pull first one to top*/
/*.frame_view.wide span:nth-of-type(1) > img:nth-of-type(1){
    z-index: 1000;
}*/

.frame_scrubber{

    /* only appears when the play page is rewind mode */
    /* That's when the user hits left arrow key */
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;

    width: 100%;
}

.frame_scrubber .timer{
    width: 100%;
    padding: 10px;
    text-align: center;
}

.frame_scrubber .timer .frame_icon{
    display:inline-block;
    width: 15px; height: 15px;
    border-radius: 15px;
    border:1px solid #3c3c3c;
    margin: 0 3px;
}

.frame_scrubber .timer .frame_icon.on{
    background-color: #3c3c3c;
}
    
.frame_scrubber .timer .frame_icon:last-of-type{
    border:1px solid tomato;
}
.frame_scrubber .timer .frame_icon.on:last-of-type{
    background-color: tomato;
}

.frame_scrubber .cell_fill{
    display:inline-block;
    height: 8px;
    margin-bottom: -10px; /*height of .cell*/
    width: 0%; /*filled up in flip.js */

    /*background-color: tomato;*/
    background-color: tomato;
    float: left;

    transition-property: width;
    transition-duration: 0.2s;
}

.frame_scrubber .cell_fill.loaded{
    background-color: #432424;

}

.frame_scrubber .cell_container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    
    background-color: #0b0b0b;
    width: 100%;
    
    .cell{
        position: relative;
        flex-grow: 1;
        height: 8px;

        border: 1px solid #1d1e1f;
        border-top: 8px solid #1d1e1f;
        border-bottom: 8px solid #1d1e1f;
        margin: -8px 0 -8px 0; /*reposition due to thick border*/
        box-sizing: content-box;
    }

    .cell:hover{
        background-color: white;
    }
    
}


.scrubber_tooltip{
    display:inline-block;
    position: absolute;
    pointer-events: none;
    background-color: #393939;

    padding: 10px 0px;
    width: 100px;
    text-align: center;
    /*margin-top:20px;*/ /*Stopped working*/
    color: #b0b0b0;

    /* for centering*/
    transform: translateX(-25%);

    /* For visibility and animation */
    opacity: 0;

    transition-property: opacity, left;
    transition-duration: 0.2s;

    z-index:1000;
}

.scrubber_tooltip.active{
    opacity: 1;
}

.scrubber_tooltip::after{
    position: absolute;
    top: -10px; left: 50%;
    transform: translateX(-50%);
 
    content: "";
    width: 0; 
    height: 0; 

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
      
    border-bottom: 10px solid #393939;

}