body.dark{
    background-color: #1d1e1f;
    color: #777777;
}

body.dark_justcolor{
	background-color: #a6a4a3;
}

body.dark.glow{
    background-image: url('img/bg_dark_glow.jpg');
    background-size: cover;
}

body.dark .footer span{
    background-color: #141414;
    color: #808080;
    
}