.far,
.fas{ 
	margin: 0 5px;
}

a {
    color: #da8d8d;
    transition-property: color;
    transition-duration: 0.2s;
}

a:hover{
    /*color: #e65f89;*/
    color: #bd4168;
    text-decoration: none;

    
}


a.button,
button{
	padding: 10px 15px;
	margin: 5px;
	border: 0px solid;
	border-radius: 8px 18px;
	border-bottom: 4px solid #615154;

	background-color: #826e72;

	font-size: 14pt;
	color: white;
}

a.button:hover,
button:hover{
	background-color: #6a5458;
}

a.button:focus,
button:focus{
	outline: none;
}

button.warning{
	background-color: #e85f53;
	border-color: #bf5151;
}

button.warning:hover{
	background-color: #ec3b3b;
}

button.action{
	background-color:#7079a4;
	border-color: #575e80;
}
button.action:hover{
	background-color: #575e80;
}

button.disabled{
	pointer-events: none;
	margin-top: 9px;
	border: 0px solid;
	background-color: #b9b9b9;
	color: #dedede;
}


.button.flat{
	padding: 7px 12px;
	border: 1px solid #da8d8d;
	border-radius: 4px 10px;

	color: #da8d8d;

	transition-property: color, border;
    transition-duration: 0.2s;
}

.button.flat:hover{
	border-color: #bd4168;
	color: #bd4168;
}



input[type="text"]{
	padding: 5px 6px;
	border-radius: 5px;
}


/* note: '.menu_btn' is in menu.css */

.tool_btn{
	/* this component can be inline, or position:absolute;*/
	font-size: 10pt;
	color: #ffffff8f;
	padding: 8px; margin: 5px;
	background-color: #00000036;

	border-radius: 5px;
	border: 1px solid #ffffff00;
	cursor: pointer;
}

.tool_btn.compact{
	font-size: 8pt;
	padding: 6px; margin: 0 7px;
}


.tool_btn:not(.loading):hover{
	color: white;
	border: 1px solid #ffffff52;
}

.tool_btn.loading{
	background-color: transparent;
	color: #bba2da;
}

.tool_btn.green{
	background-color: #ade8c7;
}



.editable_text{
	/* TODO: Very similar to 'editable_field' in _compomnents. */
	/*		 Two should be united into _ui */
	position:relative;
	display:inline-block; 

}

.editable_text input{
	border:2px solid transparent;	
	padding: 2px 6px;
}

.editable_text input:hover{
	background-color: #00000012;
	cursor:pointer;
}

.editable_text input:focus{
	outline: none;

	border-top:2px solid #b6b0b9;
	border-left:2px solid #b6b0b9;
	background-color: #e7e4ff;

	cursor: text;
}








/* text decorations */

.align_right{
	text-align: right;
}

.divider{
	display:inline-block;
	border-left: 1px solid #00000029;
	height: 100%;
	width: 1px;
	margin: 0px 10px;

	color: transparent;
}


