
/*   ______      _    */
/*  / __/ /_____(_)__ */
/* _\ \/ __/ __/ / _ \*/
/*/___/\__/_/ /_/ .__/*/
/*             /_/    */
/*.............................*/
/*     mini menu for strip     */
/*.............................*/

.pmenu_strip{
    /* popup menu for strip */
    position: absolute;
    
    /* This setting can be changed in the Popup obj*/
    top: 20px;
    right: 15px;
    /*width: 150px;*/

    transform-origin: top left;
    transform: translate(-110%, -10%);
   
    background-color: white;
    border-radius: 5px;
    border:1px solid #e5e5e5;

    color: #5b5b5b;

    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    
    z-index: 100;
}

.pmenu_strip:focus{
    outline: none;
}

.pmenu_strip .tickmark{
    position:absolute;
    
    top:  6px; right: -9px;
    width: 0; 
    height: 0; 
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid white;

}

.menu_strip{ /*little button for opening menu*/
    text-decoration: none;
    cursor:pointer;
}

.pmenu_strip .header{ 
    display:block;
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.pmenu_strip .content{ 
    padding: 10px;
}

.pmenu_strip ul{
    padding: 0;
}

.pmenu_strip ul li{padding-top: 8px;}
.pmenu_strip ul li:first-of-type{padding-top: 0px;}
