/* -------------------------------------- */
/* -------------------------------------- */
/*            Lightbox and Modals         */
/* -------------------------------------- */
/* -------------------------------------- */

#light_box_cover{
    position: fixed;
    top:0; left:0;
    display:block;
    width: 100%; height: 100%;
    
    background-color:rgba(0, 0, 0, 0.5);
}

#light_box_modal{
    position: fixed;
    
    top: 40px; left: 50%;
    transform: translate(-50%, 0);
    display:inline-block;
    
    width: 700px; height: 90%;
    background-color: white;
    border-radius: 6px;
    
}

#light_box_modal .header{
    font-size: 2em;
    padding: 10px 30px;
    border-bottom: 1px solid #d1d1d1;
}

#light_box_modal .frame_content{
    padding: 0px;
}

/* ----- REACT version ------- */

#lightbox_bg{
  pointer-events: none;
  opacity :0;
  position: fixed;
  top:0; left:0;
  display:block;
  width: 100%; height: 100%;

  background-color:rgba(0, 0, 0, 0.5);

  transition-property: opacity;
  transition-duration: 0.2s;
}

#lightbox_bg.active{
  pointer-events: auto;
  opacity: 1;
}

#lightbox_bg.active.intangible{
  pointer-events: none;
}



/*
███████╗██████╗ ██╗███╗   ██╗███╗   ██╗███████╗██████╗ 
██╔════╝██╔══██╗██║████╗  ██║████╗  ██║██╔════╝██╔══██╗
███████╗██████╔╝██║██╔██╗ ██║██╔██╗ ██║█████╗  ██████╔╝
╚════██║██╔═══╝ ██║██║╚██╗██║██║╚██╗██║██╔══╝  ██╔══██╗
███████║██║     ██║██║ ╚████║██║ ╚████║███████╗██║  ██║
╚══════╝╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝*/
                                                       

/* NOTE: 'spinny' is old. It's Jquery+CSS animation. */
/*       Scroll down to find 'spinner', which is a React component */

.spinny{
  position: relative;
  display: flex;
  
  /* The setting below will be controlled by the 
     class Spinny. See MASTER.js */
  /*
  min-width: 400px; max-width: 400px; 
  min-height: 250px;
  background-color:#e5e5e5;
  */ 
  
  
}

.spinny span{
  flex-grow: 1; /*there is only one span, so this shouldn't really matter. */
  
  display:inline-block;
  position: absolute;
  width: 30px; height: 30px;
  background-color: white;

  top:50%; left: 50%;
  transform-origin: 50% 50%;
  
  
  vertical-align: middle;
  margin: 0 auto;
  
  /* animation */
  animation-name: loading_square;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: "ease-in-out-quart";

}

/* -ms-transform: rotate(3deg); 
    -webkit-transform: rotate(3deg); 
    transform: rotate(3deg);
  */
@keyframes loading_square {
    from {
      transform: translate(-50%, -50%) rotate(0deg);}
    to {
      transform: translate(-50%, -50%) rotate(90deg);}
}


#msg_loading{
  display:inline-block;
  width: 100%;
  height: 100%;
}

#loading_bar_wrapper{
  position: absolute;
  display: inline-block;
  width: 200px; height: 15px;
  
  top:50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.30);
  
  margin-top: 55px;
}

#loading_bar_wrapper #loading_bar{
  display:block;
  width: 0%; height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  border:2px solid #1d1e1f;
  
  transition-property: width;
  transition-duration: 0.2s;

}





.spinner_playground{
  /* container that stretched out to fill the whole wrapper/container */
  /* This is actually copied from my node project. Check "modal.css" */

  display:flex;
  width: 100%; 
  min-width: 150px; min-height: 150px; /*to fit spinner*/

  flex-grow: 1; /*stretches to fit the height*/
  
  flex-direction: column;
  justify-content: center;
  align-items:center;

}

.spinner_playground .spinner{
  /*loading symbol*/
  display: inline-block;
  width: 100px; height: 100px;
  background-color: #e1e1e1;
  /*animation: loading 600ms infinite cubic-bezier(0.190, 1.000, 0.220, 1.000);*/
  animation: loading 1000ms infinite cubic-bezier(0.190, 1.000, 0.220, 1.000);
} 

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.spinner_playground.float{
  position: absolute;
  top: 0; left: 0;
  height: 100%;
}

.spinner_playground .spinner.dead{

  animation: none !important;
}



/* -------------------------------------- */
/* -------------------------------------- */
/*             React lightbox             */
/* -------------------------------------- */
/* -------------------------------------- */

#curtain{
  position: absolute;
  top: 50%; left: 50%;
  width: 3em; height: 3em;
  background-color: #1d1e1f;
  opacity: 1; /*becomes visible by script*/
  border-radius: 50%;
}




/*http://patorjk.com/software/taag/#p=display&f=ANSI%20Shadow&t=Flipbook*/
/*
███████╗██╗     ██╗██████╗ ██████╗  ██████╗  ██████╗ ██╗  ██╗
██╔════╝██║     ██║██╔══██╗██╔══██╗██╔═══██╗██╔═══██╗██║ ██╔╝
█████╗  ██║     ██║██████╔╝██████╔╝██║   ██║██║   ██║█████╔╝ 
██╔══╝  ██║     ██║██╔═══╝ ██╔══██╗██║   ██║██║   ██║██╔═██╗ 
██║     ███████╗██║██║     ██████╔╝╚██████╔╝╚██████╔╝██║  ██╗
╚═╝     ╚══════╝╚═╝╚═╝     ╚═════╝  ╚═════╝  ╚═════╝ ╚═╝  ╚═╝
                                                             */
/* UI for flipbook / player */

.flipbook_player{
  display:flex; /*to center the stage*/
  justify-content: center;
  flex-wrap: wrap;
}

.flipbook_player .frame_window{
  /* only shows only frame at a time with overflow trick*/
  /* TODO: width and height would need to be determined after frames are loaded */
  height: 500px;
  overflow: hidden;
  position: relative;
}

.flipbook_player .frame_stage{
  /* container that shows all strips*/
  /*width should wrap tight around frames */

  display:flex; /*to..do something with the frame*/
  flex-direction: column; /*all strip listed vertically */

  flex-grow: 1;

  /* TODO: width and height would need to be determined after frames are loaded */
  max-width: 800px;
  /* height: 500px; Do not set height here. it's a flex container */

}

.flipbook_player .frame_stage .strip{
  display:flex;
  flex-direction: column;
}

.flipbook_player .frame_stage .strip .frame{
  flex-grow: 1;
  width: 100%;
}

.flipbook_player .player_instruction{
  /* this div overlaps over .frame_window*/
  position: absolute; top: 0; left: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;

  background-color: #1d1e1f;
  width: 100%; height: 100%;
  font-size: 2em;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 0 50px 0;
}

.flipbook_player .player_instruction span{
  text-align: center;
}

.flipbook_player .frame_scrubber .scrubber{
  margin: 0 50px;
}

