/* -------------------------------------- */
/* -------------------------------------- */
/*            Lightbox and Modals         */
/* -------------------------------------- */
/* -------------------------------------- */

#light_box_cover{
    position: fixed;
    top:0; left:0;
    display:block;
    width: 100%; height: 100%;
    
    background-color:rgba(0, 0, 0, 0.5);
}

#light_box_modal{
    position: fixed;
    
    top: 40px; left: 50%;
    transform: translate(-50%, 0);
    display:inline-block;
    
    width: 700px; height: 90%;
    background-color: white;
    border-radius: 6px;
    
}

#light_box_modal .header{
    font-size: 2em;
    padding: 10px 30px;
    border-bottom: 1px solid #d1d1d1;
}

#light_box_modal .frame_content{
    padding: 0px;
}

/* -------------------------------------- */
/* -------------------------------------- */
/*             Loading visuals            */
/* -------------------------------------- */
/* -------------------------------------- */

.spinny{
  position: relative;
  display: flex;
  
  /* The setting below will be controlled by the 
     class Spinny. See MASTER.js */
  /*
  min-width: 400px; max-width: 400px; 
  min-height: 250px;
  background-color:#e5e5e5;
  */ 
  
  
}

.spinny span{
  flex-grow: 1; /*there is only one span, so this shouldn't really matter. */
  
  display:inline-block;
  position: absolute;
  width: 30px; height: 30px;
  background-color: white;

  top:50%; left: 50%;
  transform-origin: 50% 50%;
  
  
  vertical-align: middle;
  margin: 0 auto;
  
  /* animation */
  animation-name: loading_square;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: "ease-in-out-quart";

}

/* -ms-transform: rotate(3deg); 
    -webkit-transform: rotate(3deg); 
    transform: rotate(3deg);
  */
@keyframes loading_square {
    from {
      transform: translate(-50%, -50%) rotate(0deg);}
    to {
      transform: translate(-50%, -50%) rotate(90deg);}
}


#msg_loading{
  display:inline-block;
  width: 100%;
  height: 100%;
}

#loading_bar_wrapper{
  position: absolute;
  display: inline-block;
  width: 200px; height: 15px;
  
  top:50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.30);
  
  margin-top: 55px;
}

#loading_bar_wrapper #loading_bar{
  display:block;
  width: 0%; height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  border:2px solid #1d1e1f;
  
  transition-property: width;
  transition-duration: 0.2s;

}







