ul.list_scenes{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: 0; padding: 0;
    list-style: none;
}

ul.list_scenes li.scene_container{ /*flex item*/
    display:flex;
    flex-direction: column;
    
    /* flex: 1; make all container same width*/
    /*min-width: 200px;
    max-width: 210px;*/
    
    /* Or just set a width */
    width: 180px;
    margin: 3px;
}

.scene_container .flex_item:last-child{
    margin-top: auto; /*flushes to the bottom*/
}

.scene_container .header{
    padding: 5px;
}

.scene_container .header a{
    text-decoration: none;
}


.scene_container .preview_container{
    /* big <a> */
    position: relative;
    overflow: hidden;
    height: 130px;
    /* width set to be even at .scene_container*/
    
    
    box-sizing: border-box;
    border-top: 20px solid #2f2f2f;
    border-bottom: 20px solid #2f2f2f;
    background-color: #2f2f2f;
    
    transition-property: border;
    transition-duration: 0.3s;
}

.scene_container .preview_container:hover{
    border-top: 30px solid black;
    border-bottom: 30px solid black;
}

.scene_container .preview_container .preview{
    position: absolute;
    display:inline-block;
    width: 100%; 
   
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}



.scene_container .description{
    padding: 8px;
    color: #9c9c9c;
}

.scene_container .timestamp{
    padding: 3px;
}

/* -------------------------------------- */
/* -------------------------------------- */
/*               strip lists             */
/* -------------------------------------- */
/* -------------------------------------- */

ul.list_strips{
    padding: 0;
    counter-reset: stripNum;
}



ul.list_strips li{ /*flex_list*/
    
    display:flex;
    flex-direction: column;
    align-items: stretch;
    
    position: relative;
    
    counter-increment: stripNum;
    
    border-bottom: 5px solid #c9c9c9;
    margin-bottom: 30px;
    
}


.strip_content{
    /*I added this container to wrap .strip_flex_container 
    due to nesting issue when rendering in React */

    position :relative;


}

.strip_flex_container{
    /*Main flex container for a single srip*/
    position: relative;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    
    background-color: white;
}


/*flex item*/
/* .thumb is already defined in main.css */
ul.list_strips .strip_flex_container .thumb,
ul.list_strips .strip_flex_container .tile{
    display: flex;
    position: relative; /*allows mini menu*/
    align-items: center;
    justify-content: center;
    
    margin: 10px 10px 10px 10px;
    height: auto; /*stretches to fit the flex container */
    
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);

}


.strip_flex_toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    padding: 5px 15px 5px 15px;

    text-align: right;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.flex_list .strip_flex_toolbar .tools{
    opacity: 0.1;
    
    transition-property: opacity;
    transition-duration: 0.2s;

}

.flex_list .strip_flex_toolbar .tools a{
    /* icon size */
    font-size: 2em;
    margin: 0 4px;
}

.flex_list:hover .strip_flex_toolbar .tools{
    opacity:1;
}

.flex_list .strip_flex_toolbar .tools .glyphicon{
    font-size:1.5em;
}
.strip_flex_toolbar a{ color: #859297; cursor:pointer;}
.strip_flex_toolbar a:hover{ color: #545b5d; text-decoration: none;}




/*modified thumb or tile*/

.strip_flex_container .thumb.incompatible{

    
    /* This was a quick and easy way to make the .thumb slender
       but this also prevents popup menu from being visible*/
    /* overflow: hidden;*/
    
    border-left: 5px solid red;
}

.strip_flex_container .thumb.incompatible img{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.strip_flex_container .thumb.placeholder2{
    
    border:3px solid #d8abab;
    background-color: #ffe8e0;
    
    width: 120px;
    height: auto;
}

.strip_flex_container .thumb.placeholder2 span{
    color: #af6262;
}

.strip_flex_container .tile[displaytype="add"]{

    background-color: #D1D1D1;
    
    /*width: 60px;*/
    padding: 0 10px;
    height: auto;
    color: #545454;
    
    cursor: pointer;
}

.strip_flex_container .tile[displaytype="add"]:hover{
    
    background-color: #bcbcbc;
}

ul.list_strips .strip_flex_container .tile.empty-strip{
    
    width: 100%;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.strip_flex_container .tile.empty-strip span{
    width: 100%;
    margin: 10px;
    border: 2px dotted #a4bbde;
    border-radius: 10px;
    height: 100px;
    
    padding-top:15px;
    text-align: center;
}

.strip_flex_editor{
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 10px;
}






/* covers */

.flex_list .cover{
    pointer-events: none;
    position: absolute;
    top: 0; left:0;
      
    height: 100%;
    width: 100%;

    margin-bottom: 20px;
    background-color: rgba(25, 25, 25, 0.7);
    color: white;
    text-align: center;

    opacity:0;

    transition-property: opacity;
    transition-duration: 0.2s;
}

.cover.active{
    pointer-events: auto;
    opacity: 1;
}

.cover.light{
    background-color: rgba(255, 255, 255, 0.93);
    color: #5a5a5a;
}

/* input.untouchable + cover_message duo makes
   blur-able message box.*/

.cover input.untouchable{
    pointer-events: none;
    position: absolute;
    top: 0; left: 0;
      
    height: 100%;
    width: 100%;
    opacity: 0;

    cursor: default;
}

.cover .cover_message{
    height: 100%;
    width: 100%;
}


.cover.drag_and_drop,
.cover.file_upload,
.cover.preview{
  
  
  transition-property: opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  
  /* low-tech solution to prevent flickering when drag related event fires
     over children object. The ease-in makes the flickering much milder */
  
}



.cover.file_upload{
    /* This needs to apply dynamically unfortunately */
    /*pointer-events: auto;*/
    background-color: rgba(237, 237, 237, 0.9);
    color: #984242;
}


.cover.drag_and_drop span{
  position: absolute;
  top: 50%; left: 50%;
  
  transform: translate(-50%, -50%);
}

.is-dragover .cover.drag_and_drop{
  opacity: 1;
}

/* prevent flickering */
/* Downside: this makes the drag events a bit unstable. 
   makes dragleave fire rapidly sometimes */
/* after some investigation, realized it's the .thumb that is causing issue */
/*.is-dragover .thumb { pointer-events:none; }*/

.cover.file_upload span{
  position: absolute;
  top: 50%; left: 50%;
  
  transform: translate(-50%, -50%);
}


/* cover for showing preview animation */
.cover.preview{
    cursor: pointer;
}
.cover.preview:hover{
    background-color: rgba(25, 25, 25, 0.8);
}

.cover.preview img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.cover.preview .close_preview{
    color: #dedede;
    font-size: 2em;
    float: right;
    margin: 10px 10px;
}

.cover.preview:hover .close_preview{
    color: white;
}