ul.list_scenes{
    display:flex;
    justify-content: center;
    
    margin: 0; padding: 0;
    list-style: none;
}

ul.list_scenes li{ /*flex item*/
    width: 250px;

    
    margin: 10px;
}
.scene_container{
    display:flex;
    flex-direction: column;
    background-color: #434343;
    color: #d7d7d7;
}

.scene_container .flex_item:last-child{
    margin-top: auto; /*flushes to the bottom*/
}

.scene_container .header{
    padding: 8px;
}

.scene_container .header a{
    text-decoration: none;
    color: #d7d7d7;
    
}
.scene_container .header a:hover{ color: white; }

.scene_container .preview{
    text-align: center;
}

.scene_container .description{
    padding: 8px;
}

.scene_container .timestamp{
    border-top: 1px solid #323232;
    padding: 8px;
}

/* -------------------------------------- */
/* -------------------------------------- */
/*               strip lists             */
/* -------------------------------------- */
/* -------------------------------------- */

ul.list_strips{
    padding: 0;
    counter-reset: stripNum;
}



ul.list_strips li{
    
    display:flex;
    flex-direction: column;
    align-items: stretch;
    
    position: relative;
    
    counter-increment: stripNum;
    
}


.strip_flex_container{
    /*Main flex container for a single srip*/
    position: relative;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    
    margin-bottom: 20px;
    background-color: #FAFAFA;
    border-bottom: 5px solid #c9c9c9;

}



/*flex item*/
/* .thumb is already defined in main.css */
ul.list_strips .strip_flex_container .thumb,
ul.list_strips .strip_flex_container .tile{
    display: flex;
    position: relative; /*allows mini menu*/
    align-items: center;
    justify-content: center;
    
    margin: 10px 10px 10px 10px;
    height: auto; /*stretches to fit the flex container */
    
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);

}


.strip_flex_toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    padding: 5px 15px 5px 15px;

    text-align: right;
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
}

.flex_list .strip_flex_toolbar .tools{
    opacity: 0.1;
    
    transition-property: opacity;
    transition-duration: 0.2s;
}

.flex_list:hover .strip_flex_toolbar .tools{
    opacity:1;
}

.strip_flex_toolbar a{ color: #859297;}
.strip_flex_toolbar a:hover{ color: #545b5d; text-decoration: none;}




/*modified thumb or tile*/

.strip_flex_container .thumb.incompatible{

    
    /* This was a quick and easy way to make the .thumb slender
       but this also prevents popup menu from being visible*/
    /* overflow: hidden;*/
    
    border-left: 5px solid red;
}

.strip_flex_container .thumb.incompatible img{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.strip_flex_container .thumb.placeholder2{
    
    border:3px solid #d8abab;
    background-color: #ffe8e0;
    
    width: 120px;
    height: auto;
}

.strip_flex_container .thumb.placeholder2 span{
    color: #af6262;
}

.strip_flex_container .tile[displaytype="add"]{

    background-color: #D1D1D1;
    
    /*width: 60px;*/
    padding: 0 10px;
    height: auto;
    color: #545454;
    
    cursor: pointer;
}

.strip_flex_container .tile[displaytype="add"]:hover{
    
    background-color: #bcbcbc;
}