html, body{
    margin: 0;
    height: 100%;
}

body{
    background-color: #E8E8E8;

    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    color: #585858;
}




/* -------------------------------------- */
/* -------------------------------------- */
/*        globally used text styles       */
/* -------------------------------------- */
/* -------------------------------------- */

.bigtext-1{
    font-size: 3em;
}
.bigtext-2{
    font-size: 2em;
}


/* -------------------------------------- */
/* -------------------------------------- */
/*                Base layout             */
/* -------------------------------------- */
/* -------------------------------------- */
.content_wrapper{
    min-height: 100%; 
    padding-bottom: 120px; /*height of footer + padding*/
}

.letterbox{
    display: block;
    width: 100%;
    background-color: #1e1e1e;
}

.footer {
    text-align: right;
    background-color: #ccc;
    padding: 20px;
    margin-top: -60px; /*height of the footer*/
}


/* -------------------------------------- */
/* -------------------------------------- */
/*          generic views stuff           */
/* -------------------------------------- */
/* -------------------------------------- */

.book-list{
    padding: 0;
}

.book-list li{
    list-style: none;
    
    margin: 5px 0 0 0;
    
}

.book-list .card-link.wide{ 
    /*the <a>*/
    
    display: block;
    height: 150px;
    background-color: PaleTurquoise;
}

.book-list .card-link.wide:hover{
    background-color: #baf4f4;
}

.book-list .card-link.wide span:nth-of-type(1){
    display:inline-block;
    
    background-color: DarkTurquoise;
    height: 100%;
    padding: 0 20px 0 15px;
    font-size: 2em;
    
    -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
}

.book-list .card-link.wide[inActive='true']{
    background-color: LightGray;
}    




/*.............................*/
/*  mini menu for thumbnails   */
/*.............................*/
.thumb {
    position:relative;
}

.thumb .frame_image{
    cursor: pointer;
    position: absolute;
    top: 0; left:0;
    width: 100%; height: 100%;
    
    overflow: hidden;
    background-size: contain;
}

.thumb .frame_image.stretch{
    /* used to stretch the container size to fit the thumbnail */
    position: relative;
    opacity: 0;
}

.thumb .overlay_box{
    position:absolute;
    top:-15px; left:0;
    display: block;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    
    padding: 9px 10px 6px 0;
    color: white;
    
    opacity: 0;
    
    transition-property: opacity top;
    transition-duration: 0.2s;
    
}

.thumb:hover .overlay_box{
    /*small menu that pops up when you hover over .thumb*/
    opacity: 1;
    top: 0px;
}    

.thumb:hover .overlay_box a{
    color: white;
}    
.thumb:hover .overlay_box a:hover{
    text-decoration: none;
    color: #bcf2f2;
}    

.thumb .overlay_box .mini_menu{
    /*small menu that pops up when you hover over .thumb*/
   
    font-size: 1.2em;
}    

.thumb .popup_menu{
    position: absolute;
    top: -20px; left: 50%;

    transform-origin: bottom left;
    transform: translate(-50%, -100%);
    width: 90%;
    background-color: #5C5C5C;
    border-radius: 5px;
    
    color: white;
    
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.25);
}

.thumb .popup_menu:focus{
    outline: none;
}

.thumb .popup_menu > .content{
    padding: 12px;
}

.thumb .popup_menu ul{
    padding: 0;
}

.thumb .popup_menu ul li{padding-top: 8px;}
.thumb .popup_menu ul li:first-of-type{padding-top: 0px;}

.thumb .popup_menu > .header{
    display:block;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #474747;
    background-color: #3D3D3D;
    padding: 6px;
    color: #C4C4C4;
}

.thumb .popup_menu ul li a{
    color: white;
    cursor: pointer;
}

.thumb .popup_menu .tickmark{
    position:absolute;
    
    bottom: -14px; left: 50%;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  
    border-top: 15px solid #5C5C5C;
}

.thumb.placeholder{
    /* style for .thumb box that has no image */
    width: 150px;
    height: 100px;
    border: 4px dashed #a8a8a8;
    background-color: #ededed;
}


/*   ______      _    */
/*  / __/ /_____(_)__ */
/* _\ \/ __/ __/ / _ \*/
/*/___/\__/_/ /_/ .__/*/
/*             /_/    */
/*.............................*/
/*     mini menu for strip     */
/*.............................*/

.pmenu_strip{
    /* popup menu for strip */
    position: absolute;
    top: 0px; left: -10px;
    width: 150px;

    transform-origin: top left;
    transform: translate(-110%, -10%);
   
    background-color: white;
    border-radius: 5px;
    border:1px solid #e5e5e5;

    color: #5b5b5b;
    font-size: 0.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    
    z-index: 100;
}

.pmenu_strip:focus{
    outline: none;
}

.pmenu_strip .tickmark{
    position:absolute;
    
    top:  6px; right: -9px;
    width: 0; 
    height: 0; 
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid white;

}

.menu_strip{ /*little button for opening menu*/
    text-decoration: none;
    cursor:pointer;
}

.pmenu_strip .header{ 
    display:block;
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.pmenu_strip .content{ 
    padding: 10px;
}


.pmenu_strip ul{
    padding: 0;
}

.pmenu_strip ul li{padding-top: 8px;}
.pmenu_strip ul li:first-of-type{padding-top: 0px;}













/* -------------------------------------- */
/* -------------------------------------- */
/*           Elements inside Modal        */
/* -------------------------------------- */
/* -------------------------------------- */

.frame_view{
    position: relative;
    display: block;
    /*width and height set by init_frame_imgs_and_container()*/
    width: 800px; height: 500px; /*default height so that it will be visible*/
    margin: 0 auto;
}

.frame_view > .fit_block{
    display: inline-block;
    position: absolute;
    top:0; left:0;
    width: 100%;
    height: 100%;
}

.frame_view .stage{
    /* container that hides pile of images that are
       currently not active */
    background-color: tomato;
    z-index: 1000;
}
.frame_view.wide .cover{
    display: flex;
    
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1001;
}

.frame_view.wide .cover span{

    vertical-align: middle;
    color: white;
    font-size: 3em;
}



/*instruction initially hidden*/
.frame_view.wide .cover #msg_instruction{
    display: none;
}

.frame_load {
    position: relative;
}

.frame_load > .strip{
    position: absolute;
    top: 0; left: 0;
}

.frame_load > .strip img{
    position: absolute;
    top: 0; left: 0;
    height: 650px;
}

/*pull first one to top*/
/*.frame_view.wide span:nth-of-type(1) > img:nth-of-type(1){
    z-index: 1000;
}*/





/* -------------------------------------- */
/* -------------------------------------- */
/*         form and msg related           */
/* -------------------------------------- */
/* -------------------------------------- */

.placeholder{
    display:inline-block;
    width:100px; height: 60px;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.placeholder.new{
    border:1px solid blue;
}

.message_container{
    position: absolute;
    top: -100%;
    left:50%;
    
    transition: top 2s;
}

.message{
    display: inline-block;
    height: 80px; width: 600px;
    background-color: white;
    
    position: relative;
    left:-50%;
    
}