body{
    background-color: #E8E8E8;
    height: 100%;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* -------------------------------------- */
/* -------------------------------------- */
/*        globally used text styles       */
/* -------------------------------------- */
/* -------------------------------------- */

.bigtext-1{
    font-size: 3em;
}


/* -------------------------------------- */
/* -------------------------------------- */
/*                Base layout             */
/* -------------------------------------- */
/* -------------------------------------- */
.footer {
    text-align: right;
    background-color: #ccc;
    padding: 20px;
    margin-top: 30px;
}

/* -------------------------------------- */
/* -------------------------------------- */
/*             Popups and Modals          */
/* -------------------------------------- */
/* -------------------------------------- */

#light_box_cover{
    position: fixed;
    top:0; left:0;
    display:block;
    width: 100%; height: 100%;
    
    background-color:rgba(0, 0, 0, 0.5);
}

#light_box_modal{
    position: fixed;
    overflow: scroll;
    top: 40px; left: 50%;
    transform: translate(-50%, 0);
    display:inline-block;
    
    width: 700px; height: 90%;
    background-color: white;
    border-radius: 6px;
    
}

#light_box_modal .header{
    font-size: 2em;
    padding: 10px 30px;
    border-bottom: 1px solid #d1d1d1;
}

#light_box_modal .content{
    padding: 30px;
}

/* -------------------------------------- */
/* -------------------------------------- */
/*          generic views stuff           */
/* -------------------------------------- */
/* -------------------------------------- */

.book-list{
    padding: 0;
}

.book-list li{
    list-style: none;
    
    margin: 5px 0 0 0;
    
}

.book-list .card-link.wide{ 
    /*the <a>*/
    
    display: block;
    height: 150px;
    background-color: PaleTurquoise;
}

.book-list .card-link.wide:hover{
    background-color: #baf4f4;
}

.book-list .card-link.wide span:nth-of-type(1){
    display:inline-block;
    
    background-color: DarkTurquoise;
    height: 100%;
    padding: 0 20px 0 15px;
    font-size: 2em;
    
    -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
}

.book-list .card-link.wide[inActive='true']{
    background-color: LightGray;
}    

/* -------------------------------------- */
/* -------------------------------------- */
/*         frame / thumb related          */
/* -------------------------------------- */
/* -------------------------------------- */

.letterbox{
    display: block;
    width: 100%;
    background-color: #1e1e1e;
}

.frame_thumbs.stacked .thumb{
    position: relative;
    display:inline-block;
    -webkit-box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.25);
    box-shadow: 4px 0px 0px 0px rgba(0,0,0,0.25);
    
    margin-right: -50px;
}

.frame_thumbs.stacked .thumb:nth-of-type(1){z-index:5;}
.frame_thumbs.stacked .thumb:nth-of-type(2){z-index:4;}
.frame_thumbs.stacked .thumb:nth-of-type(3){z-index:3;}
.frame_thumbs.stacked .thumb:nth-of-type(4){z-index:2;}
.frame_thumbs.stacked .thumb:nth-of-type(5){z-index:1;}





/*.............................*/
/*  mini menu for thumbnails   */
/*.............................*/
.thumb{
    position:relative;
}

.thumb .frame_image{
    cursor: pointer;
}

.thumb .overlay_box{
    position:absolute;
    top:-20px; left:0;
    display: block;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    
    padding: 5px 10px 5px 0;
    color: white;
    
    opacity: 0;
    
    transition-property: opacity top;
    transition-duration: 0.3s;
    
}

.thumb:hover .overlay_box{
    /*small menu that pops up when you hover over .thumb*/
    opacity: 1;
    top: 0px;
    
    transition-property: opacity top;
    transition-duration: 0.3s;
    
}    
.thumb .overlay_box .mini_menu{
    /*small menu that pops up when you hover over .thumb*/
   
    font-size: 1.2em;
}    



.thumb .popup_menu{
    position: absolute;
    top: -20px; left: 50%;

    transform-origin: bottom left;
    transform: translate(-50%, -100%);
    width: 90%;
    background-color: #5C5C5C;
    border-radius: 5px;
    
    color: white;
    
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.25);
}

.thumb .popup_menu:focus{
    outline: none;
}

.thumb .popup_menu > .content{
    padding: 12px;
}

.thumb .popup_menu ul{
    padding: 0;
}

.thumb .popup_menu ul li{padding-top: 8px;}
.thumb .popup_menu ul li:first-of-type{padding-top: 0px;}

.thumb .popup_menu > .header{
    display:block;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #474747;
    background-color: #3D3D3D;
    padding: 6px;
    color: #C4C4C4;
}

.thumb .popup_menu ul li a{
    color: white;
    cursor: pointer;
}

.thumb .popup_menu .tickmark{
    position:absolute;
    
    bottom: -14px; left: 50%;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  
    border-top: 15px solid #5C5C5C;
}




/*   ______      _    */
/*  / __/ /_____(_)__ */
/* _\ \/ __/ __/ / _ \*/
/*/___/\__/_/ /_/ .__/*/
/*             /_/    */
/*.............................*/
/*     mini menu for strip     */
/*.............................*/

.pmenu_strip{
    /* popup menu for strip */
    position: absolute;
    top: 0px; left: -10px;
    width: 150px;

    transform-origin: top left;
    transform: translate(-110%, -10%);
   
    background-color: white;
    border-radius: 5px;
    border:1px solid #e5e5e5;

    color: #5b5b5b;
    font-size: 0.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    
    z-index: 100;
}

.pmenu_strip:focus{
    outline: none;
}

.pmenu_strip .tickmark{
    position:absolute;
    
    top:  6px; right: -9px;
    width: 0; 
    height: 0; 
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid white;

}

.menu_strip{ /*little button for opening menu*/
    text-decoration: none;
    cursor:pointer;
}

.pmenu_strip .header{ 
    display:block;
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.pmenu_strip .content{ 
    padding: 10px;
}


.pmenu_strip ul{
    padding: 0;
}

.pmenu_strip ul li{padding-top: 8px;}
.pmenu_strip ul li:first-of-type{padding-top: 0px;}











.thumb.placeholder{
    /* style for .thumb box that has no image */
    width: 150px;
    height: 100px;
    border: 4px dashed #a8a8a8;
    background-color: #ededed;
}



.frame_view{
    display: block;
    /*width and height set by init_frame_imgs_and_container()*/
    height: 500px; /*default height so that it will be visible*/
    margin: 0 auto;
    position: relative;
}

.frame_view.wide .cover{
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top:0; left:0;
    
    text-align: center;
    
    z-index: 1001;
}

.frame_view.wide .cover span{
    display: table-cell;
    vertical-align: middle;
    color: white;
}

/*instruction initially hidden*/
.frame_view.wide .cover #msg_instruction{
    display: none;
}

.frame_load {
    display:block;
    position: relative;

    width: 100%; height: 100%;
}

.frame_load img{
    height: 650px;
    position: absolute;
    top: 0; left: 0;
    
}

/*pull first one to top*/
.frame_view.wide span:nth-of-type(1) > img:nth-of-type(1){
    z-index: 1000;
}





/* -------------------------------------- */
/* -------------------------------------- */
/*         form and msg related           */
/* -------------------------------------- */
/* -------------------------------------- */

.placeholder{
    display:inline-block;
    width:100px; height: 60px;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.placeholder.new{
    border:1px solid blue;
}

.message_container{
    position: absolute;
    top: -100%;
    left:50%;
    
    transition: top 2s;
}

.message{
    display: inline-block;
    height: 80px; width: 600px;
    background-color: white;
    
    position: relative;
    left:-50%;
    
}