.tools .tool_btn{
	position: relative; /*allows popup*/
}

.popup_menu{
	pointer-events: none;
	position: absolute;

	top: 55px; right: -10px;

	width: 150px;

	z-index: 1000;

	opacity: 0;
}

.popup_menu.active{
	pointer-events: auto;
	opacity: 1;
}

.popup_menu ul{
	display: flex;
	flex-direction: column;
	width: 100%;

	background-color: #826e72;
	border-radius: 5px;
	border: 0px solid #5e4e50;
	border-bottom: 4px solid #5e4e50;


	padding: 0;


}

.popup_menu ul li{

	font-weight: normal;
	font-size: 12pt;

	border-bottom: 1px solid #685656;
	margin: 0;
	padding: 10px;

	color: #ede5e5;
}

.popup_menu ul li:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.popup_menu ul li:last-child{
	border-bottom: 0px solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.popup_menu ul li:hover{
	background-color: #444141;
}



