button{
	padding: 12px 18px;
	border: 0px solid;
	border-radius: 8px 18px;
	border-bottom: 4px solid #615154;

	background-color: #826e72;

	font-size: 14pt;
	color: white;
}

button:hover{
	background-color: #6a5458;
}

button.warning{
	background-color: #e85f53;
	border-color: #bf5151;
}

button.warning:hover{
	background-color: #ec3b3b;
}