button{
	padding: 12px 18px;
	margin: 5px;
	border: 0px solid;
	border-radius: 8px 18px;
	border-bottom: 4px solid #615154;

	background-color: #826e72;

	font-size: 14pt;
	color: white;
}

button:hover{
	background-color: #6a5458;
}

button:focus{
	outline: none;
}

button.warning{
	background-color: #e85f53;
	border-color: #bf5151;
}

button.warning:hover{
	background-color: #ec3b3b;
}


/* note: '.menu_btn' is in menu.css */

.tool_btn{
	position: absolute;
	font-size: 10pt;
	color: #ffffff8f;
	padding: 8px; margin: 5px;
	background-color: #00000036;

	border-radius: 5px;
	border: 1px solid #ffffff00;
	cursor: pointer;
}


.tool_btn:not(.loading):hover{
	color: white;
	border: 1px solid #ffffff52;
}

.tool_btn.loading{
	background-color: transparent;
	color: #bba2da;
}
