<li class="flex_list" stripid="{{strip.id}}">
                    
    <div class="strip_flex_toolbar">
        <div class="header">
            <span class="bigtext-2">{{index}}</span>
            <span>id: {{strip.id}}</span>
        </div>
        <div class="tools">
            <a class="strip_upload glyphicon glyphicon-upload" aria-hidden="true" style='font-size:1.5em'></a>
            <a class="strip_edit glyphicon glyphicon-edit" aria-hidden="true" style='font-size:1.5em'></a>
            <a class="strip_delete glyphicon glyphicon-trash" aria-hidden="true" style='font-size:1.5em'></a>
            <a class="strip_options glyphicon glyphicon-option-horizontal" aria-hidden="true" style='font-size:1.5em'></a>
        </div>
        
    </div>
    
    <div class="strip_flex_container" stripid="{{strip.id}}">
 
        
        <!-- indicator when a file is being dragged -->
        <div class="cover_drag_and_drop">
            <span class="bigtext-2">Upload to scene {{forloop.counter}}</span>
        </div>

    </div>

</li>
